/* ボタンの基本スタイル */
.button {
  background-color: white;
  color: grey;
  border: 1px solid lightgrey;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* hover時のスタイル */
.button:hover {
  background-color: snow;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

